@mixin desktop-hover() {
  @media only screen and (min-width: 1025px) {
    &:hover {
      @content;
    }
  }
}

%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%linkreset {
  text-decoration: none;
  outline: 0;
}

.tabset {
  &__list {
    @extend %listreset;

    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #edeef2;
  }

  &__item {
    flex: 1 1 100%;
    margin-bottom: -1px;

    &#{+&} {
      margin-left: -1px;
    }
  }

  &__link {
    @extend %linkreset;

    position: relative;
    display: block;
    padding: 4px 20px 20px;
    color: #1e2b3c;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    outline: 0;
    transition: all 0.2s ease-in-out 0s;

    @include desktop-hover() {
      color: #3b4952;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 5px;
      background-color: transparent;
      transition: background-color 0.2s ease-in-out;
    }

    &:focus {
      box-shadow: none;
    }

    &.active {
      border-bottom-color: transparent;
      font-weight: 500;

      &::after {
        background-color: #229fff;
      }
    }
  }
}
